page-login {
    ion-input {
        color: white
    }
    .botao {
        margin-left: 20%;
        margin-right: 20%;
        height: 45px;
    }
    .rodapeLogo {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
    }
    .logo {
        margin-bottom: 50px;
    }
}